<%= render "shared/recaptcha_script" unless user_signed_in? %>

<% content_for :content do %>
  <main>
    <%= react_component "SupportHeader", props: { host: helper_widget_host, session: helper_session, new_ticket_url: user_signed_in? ? support_index_path(new_ticket: true) : help_center_root_path(new_ticket: true), recaptcha_site_key: user_signed_in? ? nil : GlobalConfig.get("RECAPTCHA_LOGIN_SITE_KEY") }, prerender: true %>
    <section class="p-4 md:p-8">
      <%= yield %>
    </section>
  </main>
<% end %>

<%= render template: "layouts/application" %>
